<h2><%= @product["name"] %></h2>
<h4>Supplier: <%= @product["supplier"]["name"]%></h4>

<% if @product["is_discounted"] %>
<h3>Discount Item!</h3>
<h2 class="discounted">Price: <%= @product["formatted"]["price"] %></h2>
<% else %>
<h3>Everyday Value!</h3>
<h4>Price: <%= @product["formatted"]["price"] %></h4>
<% end %>

<h4>Tax: <%= @product["formatted"]["tax"] %></h4>
<h4>Total: <%= @product["formatted"]["total"] %></h4>
<h4>Description: <%= @product["description"] %></h4>

<% @product["images"].each do |image| %>
  <img style="width: 200px; height: 200px;" src="<%= image["url"] %>">
<% end %><br>

<a href="/client/products/<%= @product['id'] %>/edit">Edit</a>
<a href="/client/products/<%= @product['id'] %>" data-method="delete">Delete</a>


<h2>Create an order for this product:</h2>
<%= form_tag "/client/orders", method: :post do %>
  <div>
    Product Id: <input type="number" name="product_id" value="<%= @product['id'] %>" />
  </div>
  <div>
    Quantity: <input type="number" name="quantity" />
  </div>
  <input type="submit" name="" value="Create Order" />
<% end %>